<div id="cover">
	<a href="http://i.stack.imgur.com/FhHRx.gif" id="loader"></a>
</div>
<div class="fullscreen background" style="background-image:url('/assets/mountains.JPG');" data-img-width="1600" data-img-height="1064">
	<div class="content-a">
		<div class="content-b">
			<div class="yo-info">
				<h1 id="fittext1">Yo Earthquake</h1>
				<h1 id="fittext2">Get Yo'd When There is an Earthquake<br> Larger Than 4.5 in Magnitude.</h1>
			</div><br>
			<div class="morph-button morph-button-modal morph-button-modal-1 morph-button-fixed">
				<button type="button">How?</button>
				<div class="morph-content">
					<div>
						<div class="content-style-text">
							<span class="icon icon-close">Close the dialog</span>
							<h6 id-"fittext3"><a href="http://www.justyo.co" style="color: #fff;">Download Yo</a> and add <span id="large-earth">LARGEEARTHQUAKE</span> to start receiving Yo's when a large earthquake occurs.</h6>
						</div>
					</div>
				</div>
			</div><!-- morph-button -->
		</div>
	</div>
</div>






