<!DOCTYPE html>
<html>
<head>
  <title>Yo Earthquake Notification</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

		<%= yield %>

</body>
<script type="text/javascript">
	$(window).resize(fullscreenFix);
	fullscreenFix();
	$(window).resize(backgroundResize);
	$(window).focus(backgroundResize);
	backgroundResize();
</script>
</html>
